:root {
    --primary-brand-color: #4D5AE5;
    /* CTAs Focused Active states Links - Призывы к действию Сфокусированные активные состояния Ссылки */
    --pressed-state-color: #404BBF;
    /* CTAs - Призывы к действию  */
    --dark-color: #2E2F42;
    /* Overlays Shadows Headings - Наложения Тени Заголовки - bgc footer*/
    --success-color: #31D0AA;
    /* Valid fields Success messages    - Допустимые поля Сообщения об успехе*/
    --text-color: #434455;
    /* Body text    - Основной текст*/
    --subtle-text-color: #8E8F99;
    /* Helper text Deemphasized text    - Вспомогательный текст Текст без выделения */
    --accent-color: #E7E9FC;
    /* Accent color Hairlines Subtle backgrounds    - Акцентный цвет Линии волос Тонкий фон */
    --light-color: #F4F4FD;
    /* Light mode backgrounds Light mode Dialogs/alerts     - Фоны светлого режима Светлый режим Диалоги/оповещения  -  bgc Our Team */
    --modal-overlay-color: #E7E9FC;
    /* Overlay  - Наложение*/
    --hero-background-color: #2E2F42;
    /* Hero image background    - Фон изображения героя */
   --hero-text: #fff;
   /* текст Hero, BGC Body */
}

ul { 
    list-style-type: none;
    /* удаляем в списках маркера */
}

body {
    background-color: var(--hero-text);
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    /* устанавливаем основной фон, цвет и вид шрифта для всей страницы  */
}
 
.nav-list,
.address,
.portfolio-list {
    color: inherit;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    font-style: normal;
}
/* устанавливем шрифт, удаляем подчеркивание и курсив в ссылок */

.nav-list {
    font-weight: 500;
    /* устанавливем шрифт меню навигации */
}

.nav-list:hover,
.nav-list:focus,
.address:hover,
.address:focus {
    color: var(--pressed-state-color);
    /* устанавливем цвет фона ссылок навигации и адреса при наведении Tab и мышкой*/
}

.nav,
.nav-list {
    color: var(--dark-color);
    /* устанавливаем цвет шрифта для навигации и второй части лого */
}

.logo {
    color: var(--primary-brand-color);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    /* устанавливаем параметры шрифта для лого и цвет для первой части лого */
}
.logo-second {
    color: var(--dark-color);
    /* устанавливаем цвет шрифта для второй части лого */
}

.footer {
    background-color: var(--dark-color);
    color: var(--modal-overlay-color);
    /* устанавливаем фон и цвет шрифта футера */
}

.footer .logo-second {
    color: var(--light-color);
    /* изменяем цвет шрифта второй части лого в футере */
}

.hero-headline {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: var(--hero-text);
    letter-spacing: 0.02em;
    /* устанавливаем параметры шрифта для заголовка Hero */
}
.hero {
    background-color: var(--hero-background-color);
}
/* устанавливаем фон для сектора Hero */

.hero-button:active,
.hero-button:hover,
.hero-button:focus {
    background: var(--pressed-state-color);
    /* устанавливем цвет фона кнопки при наведении Tab и при нажатии мышкой */
} 

.hero-button {
    background: var(--primary-brand-color);
    color: var(--hero-text);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    /* устанавливем цвет шрифта кнопки и меню навигации */
    }

.feature,
.portfolio {
    color: rgba(0, 0, 255, 0);
    ;
    /* скрываем название секторов Feature и Portfolio*/
}

.work, 
.worker {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--dark-color);
    /* устанавливаем цвет и пареметры шрифта в секторах What are we doing и Our Team */
}

.worker {
    background-color: var(--light-color);
    /* устанавливаем цвет фона в секторе Our Team */
}

.worker-list {
    background-color: var(--hero-text);
    /* устанавливаем цвет фона для фотографий сотрудников в секторе Our Team */
}

.filters-list {
    font-weight: 500;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
    background: var(--light-color);
    cursor: pointer;
/* устанавливем цвет и параметры шрифта кнопок в неактивном состоянии  */
}

.filters-list:hover,
.filters-list:focus {
    color: var(--hero-text);
    background: var(--pressed-state-color);
}
/* устанавливем цвет фона ссылок навигации и адреса при наведении Tab и мышкой*/

.text
 {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
}
/* устанавливаем цвет и пареметры шрифта в тексте параграфов*/

.footer .text {
    color: var(--modal-overlay-color);
}

.headline {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark-color)
}
/* устанавливаем цвет и пареметры шрифта в тексте h3*/
